<div class="grid">
  <div class="col-12">
    <div class="nav--header flex p-2 justify-content-between align-items-center">
      <p class="text-4xl m-0">Top House</p>
      <span class="text-5xl p-0 flex flex-row align-items-center gap-3">
            <button mat-raised-button color="primary" (click)="onClickList()">Listar productos</button>
            <button mat-raised-button color="primary" (click)="onClickCreate()">Crear producto</button>
      ⛄
      </span>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>

